<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ru.erdenian.studentassistant">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.ScheduleActivity"
            android:label="@string/title_activity_schedule"/>

        <activity
            android:name=".activity.LessonsEditorActivity"
            android:label="@string/title_activity_lessons_editor"/>

        <activity
            android:name=".activity.SemesterEditorActivity"
            android:label="@string/title_activity_semester_editor"/>

        <activity
            android:name=".activity.LessonEditorActivity"
            android:label="@string/title_activity_lesson_editor"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".activity.LessonInformationActivity"
            android:label="@string/title_activity_lesson_information"/>

        <activity
            android:name=".activity.HomeworkEditorActivity"
            android:label="@string/title_activity_homework_editor"
            android:windowSoftInputMode="adjustResize"/>

    </application>

</manifest>